.product-row{
  display: flex;
  align-items: flex-start;
  span{
    font-weight: 500;
    flex-basis: 50%;
    display: block;
  }
}
.product-list{
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 15px;
  margin: 0 5px;
  width: 300px;
}
.cartlist{
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 15px;
  margin: 0 5px;
  width: 300px;
}
.cart-box{
  border: 1px solid #000;
  min-height: 100px;
  margin-bottom: 30px;
  padding: 30px;
}
